.new_form{
    display: grid;
    width: 700px;
    margin: 20px 0 20px 0;
    grid-column: 2 / 3;
    /* justify-content: center;
    align-content: center; */
    background-color: var(--greyer);
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4, auto);
    /* border-radius: 10px;*/
}

.new_issue_header{
    display: grid;
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    background-color: var(--black);
    padding: 5px;
    grid-template-columns: 1fr 1fr auto;
    /* border-radius: 10px 10px 0 0; */
}

.new_store{
    display: grid;
    grid-column: 1 / 2;
    margin-left: 10px;
    justify-content: start;
    align-content: center;
    font-size: 32px;
    font-weight: bold;
    color: var(--whiter);
}

/*Issue Info*/
.info{
    display: grid;
    grid-gap: 10px;
    margin: 10px;
    grid-column: 1 / -1;
    grid-row: 2 / -4;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto;
}

.info>div{
    display: grid;
    align-content: start;
    justify-content: center;
    text-align: center;
}

label{
    font-weight: bold;
}

.info>div>input, select{
    width: 100px;
    height: 30px;
    margin: 5px;
    text-align: center;
    font-size: 14px;
}

.add{
    display: grid;
    padding: 0 5px 5px 5px;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr auto auto;
}