<form class="form shade" id="add_new_store" (submit)="saveStore(postForm)" #postForm="ngForm">
  <section class="new_store_header">
    <p class="store">Store #</p>
    <input class="new_storeNum" [(ngModel)]="new_storeNum" name="new_storeNum" maxlength="4" required>
  </section>
  <section class="new_info">
    <!-- <div class="add_storeNum">
        <label for="new_storeNum">Store:</label>
      </div> -->
    <div class="new_info_details">
      <div class="type">
        <label for="issue_type">Issue</label>
        <select class="issue_type" name="issue_type" [(ngModel)]="issue_type" name="issue_type">
          <option value="-">-Select-</option>
          <option value="SERVER">SERVER</option>
          <option value="WAN">WAN</option>
          <option value="LAN">LAN</option>
          <option value="VOICE">VOICE</option>
        </select>
      </div>
      <div class="serv_type" *ngIf="issue_type === 'SERVER'">
        <label for="server">Server Type</label>
        <select class="server" [(ngModel)]="server" name="server">
          <option value="-">-Select-</option>
          <option value="iSeries">iSeries</option>
          <option value="Linux">Linux</option>
        </select>
      </div>
      <div class="serv_model" *ngIf="issue_type === 'SERVER'">
        <label for="model_num">Server Model</label>
        <select class="model_num" [(ngModel)]="model_num" name="model_num">
          <option value="-">-Select-</option>
          <option value="P5" *ngIf="server === 'iSeries'">P5</option>
          <option value="P6" *ngIf="server === 'iSeries'">P6</option>
          <option value="P7" *ngIf="server === 'iSeries'">P7</option>
          <option value="P8" *ngIf="server === 'iSeries'">P8</option>
          <option value="P9" *ngIf="server === 'iSeries'">P9</option>
          <option value="x3100" *ngIf="server === 'Linux'">X3100</option>
          <option value="ts460" *ngIf="server === 'Linux'">TS460</option>
          <option value="st250" *ngIf="server === 'Linux'">ST250</option>
          <option value="st550" *ngIf="server === 'Linux'">ST550</option>
        </select>
      </div>
      <div class="comm_Pro" *ngIf="issue_type === 'WAN' || issue_type === 'VOICE'">
        <label for="provider">Provider</label>
        <select class="provider" [(ngModel)]="provider" name="provider">
          <option value="-">-Select-</option>
          <option value="MetTel">MetTel</option>
          <option value="Vonage">Vonage</option>
          <option value="Windstream">Windstream</option>
          <option value="TRCA" *ngIf="issue_type !== 'WAN'">TRCA</option>
          <option value="Optus" *ngIf="issue_type !== 'WAN'">Optus</option>
          <option value="Other">Other</option>
        </select>
      </div>
      <div class="hard_ware" *ngIf="issue_type === 'LAN' || issue_type === 'WAN' || issue_type === 'VOICE'">
        <label for="hardware">Hardware</label>
        <select class="hardware" [(ngModel)]="hardware" name="hardware">
          <option value="-">-Select-</option>
          <option value="Router" *ngIf="issue_type === 'LAN'">Router</option>
          <option value="Switch" *ngIf="issue_type === 'LAN'">Switch</option>
          <option value="Cabling" *ngIf="issue_type === 'LAN'">Cabling</option>
          <option value="Modem" *ngIf="issue_type === 'WAN' && provider !== 'TRCA' && provider !== 'Optus'">Modem
          </option>
          <option value="Adtran"
            *ngIf="issue_type === 'VOICE' && provider !== 'Windstream' && provider !== 'TRCA' && provider !== 'Optus'">
            AdTran</option>
          <option value="IAD" *ngIf="issue_type === 'VOICE' && provider === 'Windstream'">Cisco IAD</option>
          <option value="Velo" *ngIf="issue_type === 'WAN'">VeloCloud</option>
          <option value="Circuit Only" *ngIf="issue_type === 'WAN' && provider !== 'TRCA' && provider !== 'Optus'">
            Circuit Only</option>
          <option value="PBX"
            *ngIf="issue_type === 'VOICE' && provider === 'TRCA' || issue_type === 'VOICE' && provider === 'Optus'">
            PBX</option>
        </select>
      </div>
      <div class="bmc_tick">
        <label for="bmc_Num">BMC Ticket</label>
        <input matInput class="bmc_Num" placeholder="-" [(ngModel)]="bmc_Num" name="bmc_Num">
      </div>
      <div class="vend_tick">
        <label for="vend_Num">Vendor Ticket</label>
        <input class="vend_Num" placeholder="-" [(ngModel)]="vend_Num" name="vend_Num">
      </div>
    </div>
  </section>
  <section class="add_update">
    <div class="add">
      <p class="add_header">Issue Details</p>
      <div class="dateTime">
        <label for="new_date">Start Date:</label>
        <input class="new_date" type="date" [(ngModel)]="new_date" name="new_date" min="2020-01-01" max="2025-01-01"
          required>
        <label for="new_time">Start Time:</label>
        <input class="new_time" type="time" [(ngModel)]="new_time" name="new_time" min="00:00" max="24:00" required>
      </div>
      <div class="new_entry_text">
        <textarea class="new_text" placeholder="What happened?" [(ngModel)]="new_text" name="new_text"></textarea>
      </div>
      <div class="new_entry_btns">
        <button class="post_up">POST</button>
        <button class="delete_up" id="delete_store" type="button" (click)="callCancelStore()">X</button>
      </div>
    </div>
  </section>
</form>