<div class="resolveStore">
  <div class="resolve-header">
    <p>Enter Store {{data.storeNumber}}'s Resolve Date/Time:</p>
  </div>
  <form action="restore">
    <div class="date">
      <label for="resovleDate">Date:</label>
      <input matInput type="date" name="resolveDate" id="resolveDate" [(ngModel)]="endDate">  
    </div>
    <div class="time">
      <label for="resolveTime">Time:</label>
    <input type="time" name="resolveTime" id="resolveTime" [(ngModel)]="endTime">
    </div>
  </form>
  <div class="resolveBtns">
    <button class="confirm" (click)="onConfirmClick(endDate, endTime)">Confirm</button>
    <button class="cancel" (click)="onCancelClick()">X</button>
  </div>
</div>
